{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Register</h3>
                </div>
                
                    <div class="panel-body">
                        <form method="post" action="{% url 'register' %}">
                            <p class="bs-component">
                                <table>
                                    <tr>
                                        <td>{{ user_form.first_name.label }}</td>
                                        <td>{{ user_form.first_name}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ user_form.last_name.label }}</td>
                                        <td>{{ user_form.last_name}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ user_form.email.label }}</td>
                                        <td>{{ user_form.email }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{user_form.username.label }}</td>
                                        <td>{{ user_form.username }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ user_form.password.label }}</td>
                                        <td>{{ user_form.password }}</td>
                                    </tr>
                                </table>
                            </p>
                            <p class="bs-component">
                                <center>
                                    <input class="btn btn-success btn-sm" type="submit" value="Register" />
                                </center>
                            </p>
                            <input type="hidden" name="next" value="{{ next }}" />
                        </form>
                       
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}

    <script>
    {% if not user.is_authenticated %}
    $("ul.nav.navbar-nav.navbar-right").css("display","none");
    {% endif %}
    </script>

{% endblock %}
 
