                            {% load modtag %}
                            {% if favs|length %}
                                <a href="{% url 'getfavorites' %}" class="exp">Favorites</a>
                            {% endif %}
                            <a href="{% url 'getfavorites' %}" class="exp invis" id="favanchor">Favorites</a>
                            <table class="table" id="results">
                            <thead>
                                <tr>
                                    <th>Row</th>
                                    <th>Course Name</th>
                                    <th>Details</th>
                                    <th>Universities</th>
                                    <th>Favorites</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for key,values in courses.iteritems%}
                                    {% if forloop.counter|mod:2 %}
                                        <tr class="tablerow table-grey" name='h'>
                                            <th scope="row">{{forloop.counter }}</th>
                                            <td class = "rowcourse" height="80"><h4>{{key}}</h4></td><td>
                                        {%for value in values%}
                                            {% if forloop.first and value|length%}
                                                <div class="dropdown">
                                                     <button class="btn btn-info btn-xs  viewbutton dropdown-toggle " name="{{forloop.parentloop.counter}}" value="{{value}}" type="button" id="menu{{forloop.parentloop.counter}}" data-toggle="dropdown" onclick="MyFunction(this.value,this.id)">overview<span class="caret"></span></button> 
                                                      <ul class="dropdown-menu dropsize" role="menu" aria-labelledby="menu{{forloop.parentloop.counter}}">
                                                        <li class="dropdown-header">Course Overview</li>
                                                        <li class="divider"></li>
                                                        <li class="desc" id="change{{forloop.parentloop.counter}}"></li>
                                                      </ul>
                                                </div></td><td class="rowuni" height="80">
                                            {% else %}
                                                {% if forloop.first %}
                                                    </td><td class="rowuni" height="80">
                                                {% else %}    
                                                    <h4>{{value}}</h4>
                                                {% endif %}    
                                            {% endif %}
                                        {%endfor%}
                                        </td> 
                                        <td>
                                            {% if key|existsCourse:favs %}
                                                <input type="text" name="fav" value="{{key}}" id="favcor{{forloop.counter}}" class="vis" style="display: none;">
                                                <input type="submit" name="add" id="add{{forloop.counter}}" value="add" class="btn btn-success btn-xs addbutton disabled">
                                                <input type="submit" name="remove" id="rem{{forloop.counter}}" value="remove" class="btn btn-danger btn-xs rembutton ">
                                                <div class="rating">
                                                    {% if forloop.counter|mod:2 %}
                                                        <span class="star st full">&#9734;</span>
                                                    {% else %}
                                                        <span class="star1 st full">&#9734;</span> 
                                                    {% endif %}
                                                </div>
                                             {% else %}
                                                <input type="text" name="fav" value="{{key}}" id="favcor{{forloop.counter}}" class="vis" style="display:none;">
                                                <input type="submit" name="add" id="add{{forloop.counter}}" value="add" class="btn btn-success btn-xs addbutton">
                                                <input type="submit" name="remove" id="rem{{forloop.counter}}" value="remove" class="btn btn-danger btn-xs rembutton disabled">
                                                <div class="rating">
                                                    {% if forloop.counter|mod:2 %}
                                                        <span class="star st">&#9734;</span>
                                                    {% else %}
                                                        <span class="star1 st">&#9734;</span> 
                                                    {% endif %}
                                                </div>
                                            {% endif %}      
                                        </td>
                                        </tr>
                                    {% else %}
                                         <tr class="tablerow table-white" name='h'>
                                            <th scope="row">{{forloop.counter }}</th>
                                            <td class = "rowcourse" height="80"><h4>{{key}}</h4></td><td>
                                        {%for value in values%}
                                            {% if forloop.first and value|length%}
                                                <div class="dropdown">
                                                     <button class="btn btn-info btn-xs  viewbutton dropdown-toggle " name="{{forloop.parentloop.counter}}" value="{{value}}" type="button" id="menu{{forloop.parentloop.counter}}" data-toggle="dropdown" onclick="MyFunction(this.value,this.id)">overview<span class="caret"></span></button> 
                                                      <ul class="dropdown-menu dropsize" role="menu" aria-labelledby="menu{{forloop.parentloop.counter}}">
                                                        <li class="dropdown-header">Course Overview</li>
                                                        <li class="divider"></li>
                                                        <li class="desc" id="change{{forloop.parentloop.counter}}"></li>
                                                      </ul>
                                                </div></td><td class="rowuni" height="80">
                                            {% else %}
                                                {% if forloop.first %}
                                                    </td><td class="rowuni" height="80">
                                                {% else %}    
                                                    <h4>{{value}}</h4>
                                                {% endif %}    
                                            {% endif %}
                                        {%endfor%}
                                        </td> 
                                        <td>
                                            {% if key|existsCourse:favs %}
                                                <input type="text" name="fav" value="{{key}}" id="favcor{{forloop.counter}}" class="vis" style="display: none;">
                                                <input type="submit" name="add" id="add{{forloop.counter}}" value="add" class="btn btn-success btn-xs addbutton disabled">
                                                <input type="submit" name="remove" id="rem{{forloop.counter}}" value="remove" class="btn btn-danger btn-xs rembutton ">
                                                <div class="rating">
                                                    {% if forloop.counter|mod:2 %}
                                                        <span class="star st full">&#9734;</span>
                                                    {% else %}
                                                        <span class="star1 st full">&#9734;</span> 
                                                    {% endif %}
                                                </div>
                                             {% else %}
                                                <input type="text" name="fav" value="{{key}}" id="favcor{{forloop.counter}}" class="vis" style="display: none;">
                                                <input type="submit" name="add" id="add{{forloop.counter}}" value="add" class="btn btn-success btn-xs addbutton">
                                                <input type="submit" name="remove" id="rem{{forloop.counter}}" value="remove" class="btn btn-danger btn-xs rembutton disabled">
                                                <div class="rating">
                                                    {% if forloop.counter|mod:2 %}
                                                        <span class="star st">&#9734;</span>
                                                    {% else %}
                                                        <span class="star1 st">&#9734;</span> 
                                                    {% endif %}
                                                </div>
                                            {% endif %}      
                                        </td>
                                        </tr>
                                    {% endif %}     
                                {%endfor%}
                            </tbody>
                            </table>
                            <div id="pageNavPosition"></div>
                            <p id="showresults"></p> 
                        </div>
                </div>         
            </div>    
        </div>
    </div>
<script>
    var pager = new Pager('results', 5,'showresults'); 
    pager.init();
    pager.showPageNav('pager', 'pageNavPosition'); 
    pager.showPage(1);
    $('.btn-success').click(function(){
        var course = $(this).prev().val();
        $.ajax({
            url : "/addfavorite/", // the endpoint
            type : "POST", // http method
            data : { 'favcourse' : course }, 
            success : function(res) {
                var count = res.favs.length;
                if(count > 0){
                    $('.btn-danger').parents().find('table').prev().removeClass("invis");
                }
                
            } // another sanity check
        });
        var n = "{{favs|length}}";
        if (n == 'False'){
            var r = $(this).parents().find('table').prev().removeClass("invis");
        }
        $(this).addClass("disabled");
        $(this).next().removeClass("disabled");
        $(this).siblings("div").children().addClass("full");
       
    });    
    $('.btn-danger').click(function(){
        var course = $(this).prevAll().eq(1).val()
        $.ajax({
            url:"/delfavorites/",
            type: "POST",
            data:{'delcourse' : course},
            success : function(res) {
                var count = res.favs.length;
                if(count <= 0){
                    $('.btn-danger').parents().find('table').prev().addClass("invis");
                    var n = "{{favs|length}}";
                    if (n == 'True'){
                        var r = $('.btn-danger').parents().find('table').prev().prev().addClass("invis");
                     }
                }
                
            } // another sanity check
        });
        $(this).addClass("disabled");
        $(this).prev().removeClass("disabled");
        $(this).siblings("div").children().removeClass("full");
        
    });
    function MyFunction(value,name){
        var h = document.getElementById(name).parentNode.lastElementChild.lastElementChild
        h.innerHTML = value;
    }
</script>
