{% extends 'base.html' %}
{% load staticfiles %}
{% load modtag %}
{% block head %}
	<link href="{% static 'css/test_pager.css' %}" rel="stylesheet">
	<script src = "{% static 'js/paging.js' %}"></script>
	<script src = "{% static 'js/test-page.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="jumbotron">
        {% if question_list %}
	    	<form action="{% url 'results'%}" onsubmit="return validate()" method="post">{% csrf_token %}
	    		<div id="maincon">
					<div id="myProgress">
					  <div id="myBar"></div>
					</div>
					
	    			{% for question in question_list%}
		    		<div class = "question">
						<p class="mainquestion">{{forloop.counter}}{{". "}}{{question.text}}</p>
						<div id="tst{{forloop.counter}}" class="tst"></div>
						{% for choice in question.choices_set.all %}
							{% if "choice"|append:question.id|app:request.session|compare:choice.id %}
				    			<input type="radio" name="choice{{question.id}}" id="choice{{ forloop.counter }}" value="{{choice.id }}" checked/>
				    			<label for="choice{{ forloop.counter }}" class="rad">{{ choice.text }}</label><br/>
				    		{% else%}
				    			<input type="radio" name="choice{{question.id}}" id="choice{{ forloop.counter }}" value="{{choice.id }}"/>
				    			<label for="choice{{ forloop.counter }}" class="rad">{{ choice.text }}</label><br/>		
				    		{% endif %}	
						{% endfor %}
					</div>	
					{% endfor %}
					<div class = "question">
						<p class="mainquestion">{{length}}{{". "}}Fill in your KCSE scores in the various subjects</p>
						<table class="table table-striped">
							{% for subject in subjects%}
								<tr><td class="subjects">{{forloop.counter}}{{". "}}{{subject.name}}</td>
								{%for grade in grades%}
									{% if "grade"|appends:subject.code|app:request.session|compare:grade.id%}
										<td><input type="radio" name="grade{{subject.code}}" id="grade{{ forloop.counter }}" value="{{grade.id }}" checked/>
						    			<label for="grade{{ forloop.counter }}">{{ grade.name }}</label></td>
						    		{% else %}
						    			<td><input type="radio" name="grade{{subject.code}}" id="grade{{ forloop.counter }}" value="{{grade.id }}" />
						    			<label for="grade{{ forloop.counter }}">{{ grade.name }}</label></td>
						    		{% endif %}		
								{% endfor%}
							</tr>
						{% endfor %}
						</table>
							
						<br><button type="submit" class="btn btn-warning btn-xs" value="test_submit" name="test_submit">submit</button>
					</div>	
					<div id="pageNavPosition"></div>
	    		</div>
			</form>
		{% else %}
    		<p>No questions currently are available.</p>
		{% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
	{% if request.session.choice1 %}
		{% with 6 as num %}
			<script>
			    var pager = new Pager('maincon', 4); 
			    pager.init(); 
			    pager.showPageNav('pager', 'pageNavPosition'); 
			    pager.showPage({{num}});
			</script>
		{% endwith %}
	{%else%}
		<script>
		    var pager = new Pager('maincon', 4); 
		    pager.init(); 
		    pager.showPageNav('pager', 'pageNavPosition'); 
		    pager.showPage({{num}});
		</script>    
	{% endif %}
{% endblock %}
